body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #ACD23F;
    font-family: Pingsan, sans-serif;
    margin: 0;
}

.heading {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin: 0 0 2%;
    letter-spacing: 15px;
    text-transform: uppercase;
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

.option-button {
    border-radius: 10px;
    background-color: #CED0FD;
    outline: none;
    border: none;
    width: 20%;
    height: 55%;
    color: white;
    font-size: 36px;
    margin: 2% 0 5%;
    letter-spacing: 5px;
    font-family: inherit;
}

.option-button:hover {
    background-color: #9A9DD8;
}

.bottom {
    width: 80%;
    height: 27%;
    position: absolute;
    background-color: #187947;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    bottom: 0;
    z-index: -999;
}

.logo {
    width: 250px;
    height: auto;
}